includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
  level: max
  paths:
    - src
#  checkGenericClassInNonGenericObjectType: false
#  checkMissingIterableValueType: false
